section#contact .form-group{
  margin-bottom:25px;
}

section#contact .form-group input, section#contact .form-group textarea{
  padding:20px;
}

section#contact .form-group input.form-control{
  height:auto;
}

section#contact .form-group textarea.form-control{
  height:236px;
}

section#contact .form-control:focus{
  border-color:#eaaf0f;
  box-shadow:none;
}

